{% extends 'base.html' %}

{% load static %}

{% block 'h2' %}
<h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line">&nbsp;Our Menus&nbsp;&nbsp;<img src="{% static 'img/header-line.png' %}" alt="Line" class="tm-header-line"></h2>
{% endblock %}    

{% block 'button' %}
<a href="#main" class="tm-more-button tm-more-button-welcome">Read More</a> 
{% endblock %}  

{% block 'content' %}
<div class="tm-main-section light-gray-bg">
  <div class="container" id="main">
    <section class="tm-section row">
      <div class="col-lg-9 col-md-9 col-sm-8">
        <h2 class="tm-section-header gold-text tm-handwriting-font">{{ menu.name }}</h2>
        <h2>Cafe House</h2>
        <p class="tm-welcome-description">{{ menu.text }}</p>
        <a href="#" class="tm-more-button margin-top-30">Read More</a> 
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
        <div class="inline-block shadow-img">
          <img src="{{ menu.img.url }}" alt="Image" class="img-circle img-thumbnail">  
        </div>              
      </div>            
    </section>          
    <section class="tm-section row">
      <div class="col-lg-12 tm-section-header-container margin-bottom-30">
        <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'img/logo.png' %}" alt="Logo" class="tm-site-logo"> Our Menus</h2>
        <div class="tm-hr-container"><hr class="tm-hr"></div>
      </div>
      <div>
        <div class="col-lg-3 col-md-3">
          <div class="tm-position-relative margin-bottom-30">              
            <nav class="tm-side-menu">
              <ul>
                {% for i in categories %}
                <li>
                  <a href="#!" class="active" data-filter=".{{i.name}}">{{ i.name }}</a>
                </li>
                {% endfor %}
              </ul>              
            </nav>    
            <img src="{% static 'img/vertical-menu-bg.png' %}" alt="Menu bg" class="tm-side-menu-bg">
          </div>  
        </div>            
        <div class="tm-menu-product-content col-lg-9 col-md-9 {{item.category}}"  > <!-- menu content -->
          {% for item in our_menus %}
            <div class="tm-product">
              <img src="{{ item.img.url }}" alt="Product">
              <div class="tm-product-text">
                <h3 class="tm-product-title">{{ item.name }}</h3>
                <p class="tm-product-description">{{ item.about }}</p>
              </div>
              <div class="tm-product-price">
                <a href="#" class="tm-product-price-link tm-handwriting-font"><span class="tm-product-price-currency">$</span>{{ item.price }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>          
    </section>
  </div>
</div> 
{% endblock %}